.tab {
    overflow: hidden;
    border: 1px solid #d8d8d8;
    background-color: #ffddc9;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 14px;
    transition: 0.4s;
}

.tab button:hover {
    background-color: #c4c4c4;
}

.tab button.active {
    background-color: #d8d8d8;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 2px solid #d8d8d8;
    border-top: none;
}