.header {
    position: sticky;
    top: 0;
    padding: 10px 16px;
    background: #ff8641;
    color: white;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    text-align: center;
    margin: 0;
    font-family: sans-serif;
    min-height: 100vh;
}

.tab {
    display: inline-flex;
    overflow: hidden;
    border: 5px solid #924c24;
    background-color: #ff8641;
}

.tab button {
    border: none;
    background-color: inherit;
    box-shadow: inset;
    outline: none;
    cursor: pointer;
    padding: 12px 30px;
    transition: 0.4s;
    color: white;
}

.tab button:hover {
    background-color: #c4c4c4;
}

.tab button.active {
    background-color: #924c24;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
}